# Binaries, plugins, libs
*.dll
*.dylib
*.exe
*.exe~
*.so
*.cover
*.profile

# Testing
*.test
*.tmp

# User specific
.idea
.idea/*

# Env variables
/.env
/.env.dev
/.env.testing

.env
.env.dev
.env.testing

vendor
cmd/notifier

#config/config.toml
#config.toml

cache/bolt.db
bolt.db
cmd/main
cmd/cmd

aws.pem

main
./pics
.DS_Store
__debug_bin